@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal; }

body {
  font-family: 'Lato-Regular';
  font-weight: normal;
  line-height: 1.4;
  font-size: 16px;
  -webkit-font-smoothing: antialised; }

a {
  text-decoration: none; }

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto; }

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.main-footer {
  background: #4F4F4F;
  height: 200px;
  padding: 15px 0; }
  .main-footer .container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-footer a {
    color: inherit; }

.item-wrap {
  width: 20%;
  height: inherit;
  color: #f2f2f2; }
  .item-wrap .item-top {
    margin-bottom: 25px;
    min-height: 80px; }
  .item-wrap .item-bottom {
    min-height: 70px; }

.footer-menu .menu-item,
.footer-menu .social-item,
.social-list .menu-item,
.social-list .social-item {
  display: inline-block; }

.footer-menu {
  margin: auto 0; }
  .footer-menu .menu-item {
    line-height: 22px; }
    .footer-menu .menu-item a {
      font-size: 18px;
      text-decoration: underline; }

.social-list {
  margin: auto; }
  .social-list .social-item {
    line-height: 36px; }
    .social-list .social-item a {
      display: block;
      width: 50px;
      height: 50px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #828282;
      text-align: center; }
    .social-list .social-item i {
      color: #f2f2f2;
      line-height: 50px; }

.contacts-list li:first-child {
  margin-bottom: 15px; }

.address-list li:last-child {
  margin-top: 15px; }

.registration-list {
  margin: auto 0 auto auto; }
  .registration-list li {
    -webkit-text-decoration: dotted;
            text-decoration: dotted;
    font-size: 21px; }
    .registration-list li span {
      border-bottom: 1px dotted #f2f2f2;
      vertical-align: middle; }
  .registration-list a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #8139C5;
    vertical-align: middle;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    text-align: center;
    margin-left: 10px; }
  .registration-list i {
    font-size: 24px;
    line-height: 35px; }

.copywrite-wrap {
  margin-top: auto;
  margin-bottom: 0; }

.copywrite {
  color: #959191;
  font-size: 14px;
  position: relative;
  bottom: 0;
  margin-top: 10px; }
  .copywrite svg {
    vertical-align: middle; }

@media screen and (min-width: 320px) {
  .container {
    width: auto; } }

@media screen and (min-width: 768px) {
  .container {
    width: 750px; } }

@media screen and (min-width: 992px) {
  .container {
    width: 970px; } }

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px; } }

@media screen and (max-width: 992px) {
  .item-wrap {
    width: 30%; } }

@media screen and (max-width: 600px) {
  .main-footer {
    height: auto; }
  .container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .item-wrap {
    width: 45%; }
    .item-wrap:last-child {
      margin-top: 25px;
      width: 100%; }
      .item-wrap:last-child .item-top,
      .item-wrap:last-child .item-bottom {
        min-height: auto; }
    .item-wrap .item-top {
      margin-bottom: 15px; }
  .registration-list {
    margin: 0; }
  .copywrite-wrap {
    text-align: left; } }

@media screen and (max-width: 400px) {
  .item-wrap {
    width: 100%;
    text-align: left; }
  .social-list {
    margin: auto 0; } }
